---
const { name, href, description, tags, imagePath = "/betterexams.png", featured = false } = Astro.props;
import { ExternalLink, Star } from "lucide-preact";
---

<a href={href}>
    <div
        class={`group mb-4 flex flex-col rounded-xl border-2 ${featured ? 'border-sky-500/50' : 'border-slate-500'} overflow-hidden transition-all duration-150 hover:border-transparent hover:!opacity-100 group-hover/list:opacity-50`}
    >
        <div class="h-40 overflow-hidden border-b border-slate-500 relative">
            <img src={imagePath} alt={name} class="w-full h-full object-cover object-top transition-transform duration-300 group-hover:scale-[1.03]" />
            {featured && (
                <div class="absolute top-2 right-2 bg-sky-500 text-white text-xs font-bold py-1 px-2 rounded-full flex items-center">
                    <Star size={12} class="mr-1" />
                    Featured
                </div>
            )}
        </div>
        <div class="p-4 bg-[#0f172a]">
            <h2
                class="flex gap-x-2 text-lg font-bold text-white transition-all duration-150 group-hover:text-sky-400"
            >
                <span>{name}</span>
                <ExternalLink size={16} class="place-self-center" />
            </h2>
            <p class="indent-4 transition-all duration-150 group-hover:text-white">
                {description}
            </p>
            <ul class="mt-2 flex flex-row flex-wrap gap-2">
                {
                    tags.map((tag: string) => (
                        <li class="rounded-full bg-sky-500/15 px-3 py-1 font-mono text-xs text-sky-400">
                            {tag}
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
</a>
